<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.integration.generator.dao.IomCiTypeRelDiagramMapper">
  <resultMap id="BaseResultMap" type="com.integration.generator.entity.IomCiTypeRelDiagram">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="DIAG_NAME" jdbcType="VARCHAR" property="diagName" />
    <result column="DIAG_XML" jdbcType="VARCHAR" property="diagXml" />
    <result column="ICONO_URL" jdbcType="VARCHAR" property="iconoUrl" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="DIAG_TYPE" jdbcType="INTEGER" property="diagType" />
    <result column="CJR_ID" jdbcType="DECIMAL" property="cjrId" />
    <result column="CJSJ" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="XGR_ID" jdbcType="DECIMAL" property="xgrId" />
    <result column="XGSJ" jdbcType="TIMESTAMP" property="xgsj" />
    <result column="YXBZ" jdbcType="INTEGER" property="yxbz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, DIAG_NAME, DIAG_XML, ICONO_URL, USER_ID, DIAG_TYPE, CJR_ID, CJSJ, XGR_ID, XGSJ, 
    YXBZ
  </sql>
  <select id="selectByExample" parameterType="com.integration.generator.entity.IomCiTypeRelDiagramExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iom_ci_type_rel_diagram
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iom_ci_type_rel_diagram
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from iom_ci_type_rel_diagram
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.integration.generator.entity.IomCiTypeRelDiagramExample">
    delete from iom_ci_type_rel_diagram
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.integration.generator.entity.IomCiTypeRelDiagram">
    insert into iom_ci_type_rel_diagram (ID, DIAG_NAME, DIAG_XML, 
      ICONO_URL, USER_ID, DIAG_TYPE, 
      CJR_ID, CJSJ, XGR_ID, 
      XGSJ, YXBZ)
    values (#{id,jdbcType=DECIMAL}, #{diagName,jdbcType=VARCHAR}, #{diagXml,jdbcType=VARCHAR}, 
      #{iconoUrl,jdbcType=VARCHAR}, #{userId,jdbcType=DECIMAL}, #{diagType,jdbcType=INTEGER}, 
      #{cjrId,jdbcType=DECIMAL}, #{cjsj,jdbcType=TIMESTAMP}, #{xgrId,jdbcType=DECIMAL}, 
      #{xgsj,jdbcType=TIMESTAMP}, #{yxbz,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.integration.generator.entity.IomCiTypeRelDiagram">
    insert into iom_ci_type_rel_diagram
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="diagName != null">
        DIAG_NAME,
      </if>
      <if test="diagXml != null">
        DIAG_XML,
      </if>
      <if test="iconoUrl != null">
        ICONO_URL,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="diagType != null">
        DIAG_TYPE,
      </if>
      <if test="domain_id != null">
        DOMAIN_ID,
      </if>
      <if test="cjrId != null">
        CJR_ID,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
      <if test="xgrId != null">
        XGR_ID,
      </if>
      <if test="xgsj != null">
        XGSJ,
      </if>
      <if test="yxbz != null">
        YXBZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="diagName != null">
        #{diagName,jdbcType=VARCHAR},
      </if>
      <if test="diagXml != null">
        #{diagXml,jdbcType=VARCHAR},
      </if>
      <if test="iconoUrl != null">
        #{iconoUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="diagType != null">
        #{diagType,jdbcType=INTEGER},
      </if>
      <if test="domain_id != null">
        #{domain_id},
      </if>
      <if test="cjrId != null">
        #{cjrId,jdbcType=DECIMAL},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrId != null">
        #{xgrId,jdbcType=DECIMAL},
      </if>
      <if test="xgsj != null">
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="yxbz != null">
        #{yxbz,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.integration.generator.entity.IomCiTypeRelDiagramExample" resultType="java.lang.Long">
    select count(*) from iom_ci_type_rel_diagram
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iom_ci_type_rel_diagram
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.diagName != null">
        DIAG_NAME = #{record.diagName,jdbcType=VARCHAR},
      </if>
      <if test="record.diagXml != null">
        DIAG_XML = #{record.diagXml,jdbcType=VARCHAR},
      </if>
      <if test="record.iconoUrl != null">
        ICONO_URL = #{record.iconoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.diagType != null">
        DIAG_TYPE = #{record.diagType,jdbcType=INTEGER},
      </if>
      <if test="record.cjrId != null">
        CJR_ID = #{record.cjrId,jdbcType=DECIMAL},
      </if>
      <if test="record.cjsj != null">
        CJSJ = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.xgrId != null">
        XGR_ID = #{record.xgrId,jdbcType=DECIMAL},
      </if>
      <if test="record.xgsj != null">
        XGSJ = #{record.xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yxbz != null">
        YXBZ = #{record.yxbz,jdbcType=INTEGER},
      </if>
      <if test="record.domain_id != null">
        DOMAIN_ID = #{record.domain_id},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iom_ci_type_rel_diagram
    set ID = #{record.id,jdbcType=DECIMAL},
      DIAG_NAME = #{record.diagName,jdbcType=VARCHAR},
      DIAG_XML = #{record.diagXml,jdbcType=VARCHAR},
      ICONO_URL = #{record.iconoUrl,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=DECIMAL},
      DIAG_TYPE = #{record.diagType,jdbcType=INTEGER},
      CJR_ID = #{record.cjrId,jdbcType=DECIMAL},
      CJSJ = #{record.cjsj,jdbcType=TIMESTAMP},
      XGR_ID = #{record.xgrId,jdbcType=DECIMAL},
      XGSJ = #{record.xgsj,jdbcType=TIMESTAMP},
      YXBZ = #{record.yxbz,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.integration.generator.entity.IomCiTypeRelDiagram">
    update iom_ci_type_rel_diagram
    <set>
      <if test="diagName != null">
        DIAG_NAME = #{diagName,jdbcType=VARCHAR},
      </if>
      <if test="diagXml != null">
        DIAG_XML = #{diagXml,jdbcType=VARCHAR},
      </if>
      <if test="iconoUrl != null">
        ICONO_URL = #{iconoUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="diagType != null">
        DIAG_TYPE = #{diagType,jdbcType=INTEGER},
      </if>
      <if test="cjrId != null">
        CJR_ID = #{cjrId,jdbcType=DECIMAL},
      </if>
      <if test="cjsj != null">
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrId != null">
        XGR_ID = #{xgrId,jdbcType=DECIMAL},
      </if>
      <if test="xgsj != null">
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="yxbz != null">
        YXBZ = #{yxbz,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.integration.generator.entity.IomCiTypeRelDiagram">
    update iom_ci_type_rel_diagram
    set DIAG_NAME = #{diagName,jdbcType=VARCHAR},
      DIAG_XML = #{diagXml,jdbcType=VARCHAR},
      ICONO_URL = #{iconoUrl,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=DECIMAL},
      DIAG_TYPE = #{diagType,jdbcType=INTEGER},
      CJR_ID = #{cjrId,jdbcType=DECIMAL},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGR_ID = #{xgrId,jdbcType=DECIMAL},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      YXBZ = #{yxbz,jdbcType=INTEGER}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>