<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.integration.generator.dao.IomCiRltRuleMapper">
  <resultMap id="BaseResultMap" type="com.integration.generator.entity.IomCiRltRule">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="RLT_TYPE" jdbcType="INTEGER" property="rltType" />
    <result column="RLT_NAME" jdbcType="VARCHAR" property="rltName" />
    <result column="TYPE_ID" jdbcType="DECIMAL" property="typeId" />
    <result column="RLT_DESC" jdbcType="VARCHAR" property="rltDesc" />
    <result column="DIAG_XML" jdbcType="VARCHAR" property="diagXml" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="VALID_DESC" jdbcType="VARCHAR" property="validDesc" />
    <result column="DOMAIN_ID" jdbcType="INTEGER" property="domainId" />
    <result column="CJR_ID" jdbcType="DECIMAL" property="cjrId" />
    <result column="CJSJ" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="XGR_ID" jdbcType="DECIMAL" property="xgrId" />
    <result column="XGSJ" jdbcType="DATE" property="xgsj" />
    <result column="YXBZ" jdbcType="INTEGER" property="yxbz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RLT_TYPE, RLT_NAME, TYPE_ID, RLT_DESC, DIAG_XML, STATUS, VALID_DESC, DOMAIN_ID, 
    CJR_ID, CJSJ, XGR_ID, XGSJ, YXBZ
  </sql>
  <select id="selectByExample" parameterType="com.integration.generator.entity.IomCiRltRuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iom_ci_rlt_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iom_ci_rlt_rule
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from iom_ci_rlt_rule
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.integration.generator.entity.IomCiRltRuleExample">
    delete from iom_ci_rlt_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.integration.generator.entity.IomCiRltRule">
    insert into iom_ci_rlt_rule (ID, RLT_TYPE, RLT_NAME, 
      TYPE_ID, RLT_DESC, DIAG_XML, 
      STATUS, VALID_DESC, DOMAIN_ID, 
      CJR_ID, CJSJ, XGR_ID, 
      XGSJ, YXBZ)
    values (#{id,jdbcType=DECIMAL}, #{rltType,jdbcType=INTEGER}, #{rltName,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=DECIMAL}, #{rltDesc,jdbcType=VARCHAR}, #{diagXml,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{validDesc,jdbcType=VARCHAR}, #{domainId,jdbcType=INTEGER}, 
      #{cjrId,jdbcType=DECIMAL}, #{cjsj,jdbcType=TIMESTAMP}, #{xgrId,jdbcType=DECIMAL}, 
      #{xgsj,jdbcType=DATE}, #{yxbz,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.integration.generator.entity.IomCiRltRule">
    insert into iom_ci_rlt_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rltType != null">
        RLT_TYPE,
      </if>
      <if test="rltName != null">
        RLT_NAME,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="rltDesc != null">
        RLT_DESC,
      </if>
      <if test="diagXml != null">
        DIAG_XML,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="validDesc != null">
        VALID_DESC,
      </if>
      <if test="domainId != null">
        DOMAIN_ID,
      </if>
      <if test="cjrId != null">
        CJR_ID,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
      <if test="xgrId != null">
        XGR_ID,
      </if>
      <if test="xgsj != null">
        XGSJ,
      </if>
      <if test="yxbz != null">
        YXBZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="rltType != null">
        #{rltType,jdbcType=INTEGER},
      </if>
      <if test="rltName != null">
        #{rltName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="rltDesc != null">
        #{rltDesc,jdbcType=VARCHAR},
      </if>
      <if test="diagXml != null">
        #{diagXml,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="validDesc != null">
        #{validDesc,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null">
        #{domainId,jdbcType=INTEGER},
      </if>
      <if test="cjrId != null">
        #{cjrId,jdbcType=DECIMAL},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrId != null">
        #{xgrId,jdbcType=DECIMAL},
      </if>
      <if test="xgsj != null">
        #{xgsj,jdbcType=DATE},
      </if>
      <if test="yxbz != null">
        #{yxbz,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.integration.generator.entity.IomCiRltRuleExample" resultType="java.lang.Long">
    select count(*) from iom_ci_rlt_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update iom_ci_rlt_rule
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.rltType != null">
        RLT_TYPE = #{record.rltType,jdbcType=INTEGER},
      </if>
      <if test="record.rltName != null">
        RLT_NAME = #{record.rltName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        TYPE_ID = #{record.typeId,jdbcType=DECIMAL},
      </if>
      <if test="record.rltDesc != null">
        RLT_DESC = #{record.rltDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.diagXml != null">
        DIAG_XML = #{record.diagXml,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.validDesc != null">
        VALID_DESC = #{record.validDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.domainId != null">
        DOMAIN_ID = #{record.domainId,jdbcType=INTEGER},
      </if>
      <if test="record.cjrId != null">
        CJR_ID = #{record.cjrId,jdbcType=DECIMAL},
      </if>
      <if test="record.cjsj != null">
        CJSJ = #{record.cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.xgrId != null">
        XGR_ID = #{record.xgrId,jdbcType=DECIMAL},
      </if>
      <if test="record.xgsj != null">
        XGSJ = #{record.xgsj,jdbcType=DATE},
      </if>
      <if test="record.yxbz != null">
        YXBZ = #{record.yxbz,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update iom_ci_rlt_rule
    set ID = #{record.id,jdbcType=DECIMAL},
      RLT_TYPE = #{record.rltType,jdbcType=INTEGER},
      RLT_NAME = #{record.rltName,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=DECIMAL},
      RLT_DESC = #{record.rltDesc,jdbcType=VARCHAR},
      DIAG_XML = #{record.diagXml,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      VALID_DESC = #{record.validDesc,jdbcType=VARCHAR},
      DOMAIN_ID = #{record.domainId,jdbcType=INTEGER},
      CJR_ID = #{record.cjrId,jdbcType=DECIMAL},
      CJSJ = #{record.cjsj,jdbcType=TIMESTAMP},
      XGR_ID = #{record.xgrId,jdbcType=DECIMAL},
      XGSJ = #{record.xgsj,jdbcType=DATE},
      YXBZ = #{record.yxbz,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.integration.generator.entity.IomCiRltRule">
    update iom_ci_rlt_rule
    <set>
      <if test="rltType != null">
        RLT_TYPE = #{rltType,jdbcType=INTEGER},
      </if>
      <if test="rltName != null">
        RLT_NAME = #{rltName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="rltDesc != null">
        RLT_DESC = #{rltDesc,jdbcType=VARCHAR},
      </if>
      <if test="diagXml != null">
        DIAG_XML = #{diagXml,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="validDesc != null">
        VALID_DESC = #{validDesc,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null">
        DOMAIN_ID = #{domainId,jdbcType=INTEGER},
      </if>
      <if test="cjrId != null">
        CJR_ID = #{cjrId,jdbcType=DECIMAL},
      </if>
      <if test="cjsj != null">
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrId != null">
        XGR_ID = #{xgrId,jdbcType=DECIMAL},
      </if>
      <if test="xgsj != null">
        XGSJ = #{xgsj,jdbcType=DATE},
      </if>
      <if test="yxbz != null">
        YXBZ = #{yxbz,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.integration.generator.entity.IomCiRltRule">
    update iom_ci_rlt_rule
    set RLT_TYPE = #{rltType,jdbcType=INTEGER},
      RLT_NAME = #{rltName,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=DECIMAL},
      RLT_DESC = #{rltDesc,jdbcType=VARCHAR},
      DIAG_XML = #{diagXml,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      VALID_DESC = #{validDesc,jdbcType=VARCHAR},
      DOMAIN_ID = #{domainId,jdbcType=INTEGER},
      CJR_ID = #{cjrId,jdbcType=DECIMAL},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGR_ID = #{xgrId,jdbcType=DECIMAL},
      XGSJ = #{xgsj,jdbcType=DATE},
      YXBZ = #{yxbz,jdbcType=INTEGER}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <cache />
</mapper>