<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.integration.dao.OrgDao">
    <!-- 增加组织机构 -->
	<insert id="addOrg" parameterType="Org">
		INSERT INTO
		iommgt.iom_camp_org(
		id,
		name,
		pid,
		path,
		service_type,
		is_dept,
		status,
		sort,
		cjr_id,
		cjsj,
		xgr_id,
		xgsj,
		yxbz)
		VALUES(
		#{id},
		#{name},
		#{pid},
		#{path},
		#{service_type},
		#{is_dept},
		#{status},
		#{sort},
		#{cjr_id},
		str_to_date(#{cjsj} ,'%Y-%m-%d %H:%i:%s'),
		#{xgr_id},
		str_to_date(#{xgsj} ,'%Y-%m-%d %H:%i:%s'),
        #{yxbz}
		)
	</insert>
	<insert id="saveAllOrgData">
		INSERT INTO
		iommgt.iom_camp_org(
		id,
		name,
		pid,
		path,
		service_type,
		is_dept,
		status,
		sort,
		cjr_id,
		cjsj,
		xgr_id,
		xgsj,
		yxbz)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.id},
			#{item.name},
			#{item.pid},
			#{item.path},
			#{item.service_type},
			#{item.is_dept},
			#{item.status},
			#{item.sort},
			#{item.cjr_id},
			str_to_date(#{item.cjsj} ,'%Y-%m-%d %H:%i:%s'),
			#{item.xgr_id},
			str_to_date(#{item.xgsj} ,'%Y-%m-%d %H:%i:%s'),
			#{item.yxbz}
			)
		</foreach>

	</insert>
	<!-- 物理删除组织机构-->
	<delete id="deleteOrg" parameterType="string">
		DELETE FROM
		 iommgt.iom_camp_org WHERE id=#{id}
	</delete>
    <delete id="deleteAllOrgData">
		DELETE FROM iommgt.iom_camp_org
	</delete>
    <!-- 逻辑删除组织机构-->
    <update id="blockUpOrg" parameterType="string">
		UPDATE iommgt.iom_camp_org
		SET yxbz = 0
		WHERE
		  id = #{id}
	</update>
	<!-- 修改组织机构-->
	<update id="updateOrg" parameterType="Org">
		UPDATE iommgt.iom_camp_org
		<set>
			<if test="name != null and name !=''">
				name = #{name},
			</if>
			<if test="pid != null and pid !=''">
				pid = #{pid},
			</if>
			<if test="path != null and path !=''">
				path = #{path},
			</if>
			<if test="service_type != null and service_type !=''">
				service_type = #{service_type},
			</if>
			<if test="is_dept != null and is_dept !=''">
				is_dept = #{is_dept},
			</if>

			<if test="cjr_id != null and cjr_id !=''">
				cjr_id = #{cjr_id},
			</if>
			<if test="cjsj != null and cjsj !=''">
				cjsj = str_to_date(#{cjsj} ,'%Y-%m-%d %H:%i:%s'),
			</if>
			<if test="xgr_id != null and xgr_id !=''">
				xgr_id = #{xgr_id},
			</if>
			<if test="xgsj != null and xgsj !=''">
				xgsj = str_to_date(#{xgsj} ,'%Y-%m-%d %H:%i:%s'),
			</if>
		</set>
		where ID=#{id}
	</update>
	<!-- 查询所有组织机构信息列表，包含部门信息，组织机构管理功能使用-->
	<select id="findOrgList" resultType="Org" parameterType="string">
		SELECT
		t.id,
		t.NAME,
		t.pid,
		t.path,
		t.service_type,
		t.is_dept,
		t.STATUS,
		t.sort,
		t.cjr_id,
		t.cjsj,
		t.xgr_id,
		t.xgsj,
		t.yxbz,
		length( `path`) - length(replace( path,'/','' )) +1 level,
		(
		SELECT
		count(a.id)
		FROM
		iommgt.iom_camp_org a
		WHERE
		a.pid = t.id
		) child_count,
		d.DOMAIN_ID dataDomain
		FROM
		iommgt.iom_camp_org t
		LEFT JOIN iommgt.iom_camp_data_domain d ON t.id = d.DOMAIN_CODE and d.yxbz=1
		WHERE
		t.yxbz = 1
	  <!--
	  <if test="id != null and id !=''">
		AND  find_in_set(id,getOrgChildList(#{id}))
	  </if>
	  -->
    ORDER BY level,sort
	</select>
	<!-- 根据登录人员机构编号，查询组织机构信息列表，不包含部门，业务功能使用-->
	<select id="findOrgListForBusi" resultType="Org" parameterType="string">
		SELECT
		id,
		NAME,
		pid,
		path,
		service_type,
		is_dept,
		STATUS,
		sort,
		cjr_id,
		cjsj,
		xgr_id,
		xgsj,
		yxbz,
		length( `path`) - length(replace( path,'/','' )) +1 level
		FROM
		iommgt.iom_camp_org t
		WHERE
		   yxbz = 1
	       AND t.is_dept =0
	    <!--
		<if test="id != null and id !=''">
		   AND find_in_set(id,getOrgChildList(#{id}))
		</if>
		-->
		ORDER BY level,sort
	</select>
	<!--根据传入参数获取所有上级列表-->
	<select id="findOrgParentList" resultType="Org" parameterType="string">
		select
		  id,
		  name,
		  pid,
		  path,
		  service_type,
		  is_dept,
		  status,
		  sort,
		  cjr_id,
		  cjsj,
		  xgr_id,
		  xgsj,
		  yxbz
		from
		  iommgt.iom_camp_org t
		where
		yxbz = 1
		AND find_in_set(id,getOrgParentList (#{id}))
	</select>
	<select id="findOrgByDept" parameterType="string" resultType="Org">
		SELECT
		  id,
		  NAME,
		  pid,
		  path,
		  service_type,
		  is_dept,
		  STATUS,
		  sort,
		  cjr_id,
		  cjsj,
		  xgr_id,
		  xgsj,
		  yxbz
		FROM
		  (SELECT
			id,
			NAME,
			pid,
			path,
			service_type,
			is_dept,
			STATUS,
			sort,
			cjr_id,
			cjsj,
			xgr_id,
			xgsj,
			yxbz,
			LENGTH(path) - LENGTH(REPLACE(path, '/', '')) LEVEL
		  FROM
			iommgt.iom_camp_org
		  WHERE yxbz = 1
			AND FIND_IN_SET(id,getOrgParentList (#{id}))) t
		WHERE t.level =
		  (SELECT
			MAX(
			  LENGTH(path) - LENGTH(REPLACE(path, '/', ''))
			)
		  FROM
			iommgt.iom_camp_org t
		  WHERE yxbz = 1
			AND FIND_IN_SET(
			  id,
			  getOrgParentList (#{id})
			)
			AND is_dept = 0)
	</select>
    <!-- 查询最大层级组织机构 pid 为0-->
	<select id="findAllMax" resultType="Org">
	  SELECT
		t.id,
		t.NAME,
		t.pid,
		t.path,
		t.service_type,
		t.is_dept,
		t.STATUS,
		t.sort,
		t.cjr_id,
		t.cjsj,
		t.xgr_id,
		t.xgsj,
		t.yxbz,
		(
		SELECT
			count(a.id)
		FROM
			iommgt.iom_camp_org a
		WHERE
			a.pid = t.id
	    ) child_count,
		d.DOMAIN_ID dataDomain
	FROM
	  iommgt.iom_camp_org t
	  LEFT JOIN iommgt.iom_camp_data_domain d ON t.id = d.DOMAIN_CODE and d.yxbz=1
	WHERE 1=1
	  AND t.pid = 0
	  AND t.is_dept = 0
	  AND t.yxbz = 1
	</select>

    <!-- 查询下级组织机构-->
	<select id="findNex" resultType="Org" parameterType="string">
		SELECT
			t.id,
			t.NAME,
			t.pid,
			t.path,
			t.service_type,
			t.is_dept,
			t.STATUS,
			t.sort,
			t.cjr_id,
			t.cjsj,
			t.xgr_id,
			t.xgsj,
			t.yxbz,
			(
			SELECT
				count(a.id)
			FROM
				iommgt.iom_camp_org a
			WHERE
				a.pid = t.id
			) child_count,
			d.DOMAIN_ID dataDomain
		FROM
		  iommgt.iom_camp_org t
		  LEFT JOIN iommgt.iom_camp_data_domain d ON t.id = d.DOMAIN_CODE
		WHERE
		t.yxbz = 1
		AND t.pid=#{pid}

	</select>
	<!-- 查询单个组织机构信息-->
	<select id="findOrg" resultType="Org" parameterType="string">
		SELECT
			t.id,
			t.NAME,
			t.pid,
			t.path,
			t.service_type,
			t.is_dept,
			t.STATUS,
			t.sort,
			t.cjr_id,
			t.cjsj,
			t.xgr_id,
			t.xgsj,
			t.yxbz,
			length( `path`) - length(replace( path,'/','' )) +1 level,
			(
			SELECT
			count(a.id)
			FROM
			iommgt.iom_camp_org a
			WHERE
			a.pid = t.id
			) child_count,
			d.DOMAIN_ID dataDomain
		FROM
		  iommgt.iom_camp_org t
		  LEFT JOIN iommgt.iom_camp_data_domain d ON t.id = d.DOMAIN_CODE and d.yxbz=1
		WHERE
		t.yxbz = 1
		AND t.id=#{id}
	</select>
	<!--查询是否存在下级单位-->
	<select id="isHasChildOrg" resultType="INTEGER" parameterType="string">
		SELECT
		   count(1) num
		FROM
		  IOMMGT.`IOM_CAMP_ORG`
		WHERE pid = #{id}
		  AND is_dept = 0
		  AND yxbz = 1
	</select>
	<!--查询是否存在部门 -->
	<select id="isHasDept" resultType="INTEGER" parameterType="string">
       SELECT
		   count(1) num
		FROM
		  IOMMGT.`IOM_CAMP_ORG`
		WHERE yxbz = 1
		  AND is_dept = 1
		  AND pid = #{id}
	</select>
	<!--查询部门下是否存在系统用户(操作人员) -->
	<select id="isHasSysUser" resultType="INTEGER" parameterType="string">
       SELECT
		   count(1) num
		FROM
		  IOMMGT.`IOM_CAMP_CZRY`
		WHERE yxbz = 1
		  AND dept_id = #{id}
	</select>
	<!--获取序号 -->
	<select id="getSort" resultType="string" parameterType="string">
		SELECT
			IFNULL(MAX(sort), 0) + 1 sort
		FROM
			IOM_CAMP_ORG
		WHERE  yxbz = 1
		   AND PID = #{pid}

	</select>
	<!--查询同一级别节点下是否存在同名节点 -->
	<select id="isHasSameName" resultType="INTEGER" parameterType="Org">
		SELECT
			count(1) num
		FROM
			iom_camp_org
		WHERE
			yxbz = 1
		AND pid = #{pid}
		AND NAME = #{name}
		AND id != #{id}

	</select>
	<!--根据组织机构ID查询部门标志-->
	<select id="findIsDept" resultType="INTEGER" parameterType="string">
		select
		  is_dept
		from
		  iommgt.`iom_camp_org` o
		where o.`id` = #{id}
	</select>
	<select id="findRoleDomainOrgList" resultType="com.integration.entity.Org">
		SELECT
		t.id,
		t.NAME,
		t.pid,
		t.path,
		t.service_type,
		t.is_dept,
		t.STATUS,
		t.sort,
		t.cjr_id,
		t.cjsj,
		t.xgr_id,
		t.xgsj,
		t.yxbz,
		length( `path`) - length(replace( path,'/','' )) +1 level,
		(
		SELECT
		count(a.id)
		FROM
		iommgt.iom_camp_org a
		WHERE
		a.pid = t.id
		) child_count,
		d.DOMAIN_ID dataDomain
		FROM
		iommgt.iom_camp_org t
		LEFT JOIN iommgt.iom_camp_data_domain d ON t.id = d.DOMAIN_CODE and d.yxbz=1
		WHERE
		t.yxbz = 1
		and t.is_dept =0
		ORDER BY level,sort
	</select>
	<select id="findRoleDomainOrg" resultType="com.integration.entity.Org">
		SELECT
			t.id,
			t.NAME,
			t.pid,
			t.path,
			t.service_type,
			t.is_dept,
			t.STATUS,
			t.sort,
			t.cjr_id,
			t.cjsj,
			t.xgr_id,
			t.xgsj,
			t.yxbz,
			length( `path`) - length(replace( path,'/','' )) +1 level,
			(
			SELECT
			count(a.id)
			FROM
			iommgt.iom_camp_org a
			WHERE
			a.pid = t.id
			) child_count,
			d.DOMAIN_ID dataDomain
		FROM
		  iommgt.iom_camp_org t
		  LEFT JOIN iommgt.iom_camp_data_domain d ON t.id = d.DOMAIN_CODE and d.yxbz=1
		WHERE
		t.yxbz = 1
		and t.is_dept =0
		AND t.id=#{id}
	</select>
	<select id="findRoleDomainAllMax" resultType="com.integration.entity.Org">
		SELECT
		t.id,
		t.NAME,
		t.pid,
		t.path,
		t.service_type,
		t.is_dept,
		t.STATUS,
		t.sort,
		t.cjr_id,
		t.cjsj,
		t.xgr_id,
		t.xgsj,
		t.yxbz,
		(
		SELECT
			count(a.id)
		FROM
			iommgt.iom_camp_org a
		WHERE
			a.pid = t.id
	    ) child_count,
		d.DOMAIN_ID dataDomain
	FROM
	  iommgt.iom_camp_org t
	  LEFT JOIN iommgt.iom_camp_data_domain d ON t.id = d.DOMAIN_CODE and d.yxbz=1
	WHERE 1=1
	  AND t.pid = 0
	  AND t.is_dept = 0
	  AND t.yxbz = 1
	</select>
    <select id="checkDataDomain" resultType="java.lang.Integer">
		select count(1) from iommgt.iom_camp_data_domain t
	  	where t.DOMAIN_ID =#{dataDomain} AND yxbz=1 AND t.DOMAIN_CODE!='default'
	  	<if test="id!=null and id!=''">
			AND t.DOMAIN_CODE != #{id}
		</if>
	</select>
	<select id="findNext" resultType="com.integration.entity.Org"></select>
    <select id="getAllOrgData" resultType="com.integration.entity.Org">
		select
		  id,
		  name,
		  pid,
		  path,
		  service_type,
		  is_dept,
		  status,
		  sort,
		  cjr_id,
		  cjsj,
		  xgr_id,
		  xgsj,
		  yxbz
		from
		  iommgt.iom_camp_org t
		where
		yxbz = 1
	</select>
</mapper>